<%- layout("/layouts/biolerplate.ejs") %>

<style>
  .auth-body {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    background-color: #f8f9fa;
  }

  .auth-content {
    flex: 1;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
  }
</style>

<body class="auth-body">
  <div class="auth-content">
    <h2 class="headerpage">SignUp Page</h2>
    <form method="POST" action="/signup" style="width: 90%; max-width: 400px;">
      <div class="form-group">
        <label>Username</label>
        <input class="form-control" type="text" placeholder="Enter your Name" name="username" required>
      </div>
      <div class="form-group">
        <label>Email</label>
        <input class="form-control" type="email" placeholder="Enter your email" name="email" required>
      </div>
      <div class="form-group">
        <label>Password</label>
        <input class="form-control" type="password" placeholder="Enter your password" name="password" required>
      </div>
      <button class="btn btn-primary btn-block mt-3">Sign Up</button>
    </form>
  </div>

  <%- include("../partials/footer") %>
</body>
